body {
  background-color: #f39494;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 18px;
}

input {
  color: #999999;
  font-size: 16px;
}

form {
  background-color: white;
}

#company {
  color: black;
}

a {
  color: #089fe0;
}

button {
  font-size: 18px;
  background-color: #089fe0;
  color: white;
}

#confirm-link {
  font-size: 14px;
}

label {
  font-size: 14px;
}

#confirm {
  background-color: #f5f5f5;
  border-color: #eeeeee;
}
