body {
  background-color: #f39494;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 18px;
  color: #666666;
}

input {
  color: #999999;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

form {
  background-color: white;
}

#company {
  color: black;
}

a {
  color: #089fe0;
}

button {
  font-size: 18px;
  background-color: #089fe0;
  color: white;
  border-radius: 5px;
}

#confirm-link {
  font-size: 14px;
}

label {
  font-size: 14px;
}

#confirm {
  background-color: #f5f5f5;
  border-color: #eeeeee;
}

.register {
  width: 582px;
  height: 573px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-fields {
  width: 100%; /* Занимает всю ширину родителя */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.fullname {
  display: flex;
  gap: 1px;
  width: 394px;
  align-self: center;
  box-sizing: border-box;
}

input[type="text"]:not(#company) {
  height: 44px;
  background-color: #f5f5f5;
  width: calc(100% / 2);
}
#name {
  padding-left: 17px;
}
#surname {
  padding-left: 10px;
}
#company {
  width: 394px;
  height: 44px;
  padding-left: 11px;
}

#email {
  width: 394px;
  height: 44px;
  background-color: #f5f5f5;
  padding-left: 10px;
}

button {
  width: 394px;
  height: 44px;
  border: none;
  position: relative;
}

button::after {
  content: url("/img/Arrow\ 1.png");
  position: absolute;
  right: 24px;
}

#company {
  border: 1px solid #f5f5f5;
}
