body {
  background: linear-gradient(#374151, #111827);
  background-repeat: no-repeat;
  color: white;
}

.header__item:first-child,
.header__item:nth-child(2) {
  font-size: 18px;
}

.header__item:last-child,
.header__item:nth-child(3) {
  font-size: 16px;
}

.date {
  font-size: 14px;
}

.title {
  font-size: 24px;
}

.women {
  font-size: 16px;
}

.px14 {
  font-size: 14px;
}

.about-color {
  font-size: 20px;
}

.answer {
  font-size: 16px;
}

.search {
  font-size: 16px;
}

.footer {
  font-size: 16px;
}
